body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 30px;
}

html,
body {
  height: 100%;
}

.lib-mat-cursor-pointer {
  cursor: pointer;
}

.lib-mat-cursor-default {
  cursor: default;
}

.lib-mat-black-header .mat-sort-header-sorted .mat-sort-header-arrow {
  color: #fff !important;
}

.lib-mat mat-sort-header-container {
  justify-content: center !important;
}

.lib-mat .mat-sort-header-disabled .mat-sort-header-arrow {
  display: none !important;
}

.lib-mat .mat-column-action {
  padding-left: 0px !important;
  width: 50px;
}

.lib-mat-actions-menu {
  box-shadow: none !important;
}

.lib-mat-actions-menu.mat-menu-panel {
  border-radius: 0px !important;
  border: solid 1px black !important;
}
.lib-mat-actions-menu .mat-menu-content:not(:empty) {
  padding-top: 0px;
  padding-bottom: 0px;
}

.lib-mat-actions-menu .mat-menu-item {
  height: 35px;
  line-height: 35px;
}

.lib-mat-actions-menu .mat-menu-item:hover:not([disabled]),
.lib-mat-actions-menu .mat-menu-item.cdk-program-focused:not([disabled]),
.lib-mat-actions-menu .mat-menu-item.cdk-keyboard-focused:not([disabled]),
.lib-mat-actions-menu .mat-menu-item-highlighted:not([disabled]),
.lib-mat-actions-menu .mat-menu-item:hover {
  background: transparent;
}
